.story {
    background-color: #cccccc;
    border: 1px solid #333333;
    padding: 4px;
    width: 125px;

    &.featuredStory {
        width: 250px;
        border: 2px solid green;
    }

}

.headline {
    font-weight: bold;
}

.summary {
    color: blue;
}

.featured-story {
    background-color: blue;
}